html,
body{
    height: 100%;
    font-size: 1rem;
    font-family: 'Montserrat Alternates', sans-serif;
    background: #f8f9fa;
}

.gradient {
    background: rgb(161,195,209);
    background: linear-gradient(90deg, rgba(161,195,209,1) 0%, rgba(179,155,200,1) 34%, rgba(208,136,182,1) 65%, rgba(241,114,161,1) 100%);
}

.page-header{
    margin-top: 4rem;
    font-size: 1.25rem;
    color: #f8f9fa;
}

.news
{
    font-size: 1.25rem;
    color: #f8f9fa;
}

.logo
{
    margin: 0%;
    width: 128px;
}


.container-navbar
{
    margin-left: 0px;
}

.recs
{
    color:black;
    font-size: 1.25rem;
    margin-right: 140px;
    margin-left: 140px;
}

.card-text
{
    color:black;
    font-size: 1rem;
    font-family: 'Montserrat Alternates', sans-serif;
}
