html,
body{
    height: 100%;
    font-size: 1rem;
    font-family: 'Montserrat Alternates', sans-serif;
    background: #f8f9fa;
}

.gradient {
    background: rgb(161,195,209);
    background: linear-gradient(90deg, rgba(161,195,209,1) 0%, rgba(179,155,200,1) 34%, rgba(208,136,182,1) 65%, rgba(241,114,161,1) 100%);
}

.page-header{
    margin-top: 4rem;
    font-size: 1.25rem;
    color: #f8f9fa;
}

.news
{
    font-size: 1.25rem;
    color: #f8f9fa;
}

.logo
{
    margin-top: 5%;
    margin-left: 80px;
    width: 128px;
}


.container-navbar
{
    margin-left: 0px;
}

.recs
{
    color:black;
    font-size: 1.25rem;
    margin-right: 140px;
    margin-left: 140px;
}

.card-text
{
    color:black;
    font-size: 1rem;
    font-family: 'Montserrat Alternates', sans-serif;
}

.card
{
    margin-left: 80px;
}

.icon
{
    margin: 10px;
}

.mainpic
{
    margin-top: 5px;
    margin-bottom: 15px;
}

.h6
{
    color:black;
}

.ans
{
    margin-bottom: 10px;
}

/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}